:root{
    --primaryBackground: #141019; /*#1F1F1F*/
    --secondaryBackground: #1E1825; /*#333333*/
    --tertiaryBackground: #271F30; /*#474747*/
    --primaryColor: #5D5AC9;
    --secondaryColor: #A4A2E2;
    --buttonColor: #07C57F;
    --secondaryButtonColor: #06B273;
    --buttonTextColor: #f2f2f2;
    --borderColor: #e2e2e2;
    --primaryTextColor: #f0f0f0;
    --secondaryTextColor: #d6d6d6;
    --tertiaryTextColor: #E0E0E0;
    --disabledTextColor: #474747;
    --placeholderColor: #A3A3A3;
    --linkColor: #fafaef;
    --selectionColor: #07C57F;
    --debugColor: #ff0000;
    --deleteObjectColor: #EA2634;
    --primaryFontFamily: "Trebuchet MS";
}

::selection {
    color: #141019;
    background: #f0f0f0;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--primaryBackground);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    cursor: grab;
    background: var(--secondaryColor);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primaryColor);
  }

