@import "palette.css";
@import "login.css";

:root {
    --header_height: max(50px, 5vh);
    --footer_height: max(53px, 7vh);
    --footer_img_width: max(32px, 4.2vh);
    --footer_img_height:  max(32px, 4.2vh);
}

.attachments * {
    width: 100%;
}

body {
    height: 100vh;
    min-height: 750px;
    min-width: 275px;
    background-color: var(--primaryBackground);
    margin: 0;
    overflow: hidden;
}

body > * {
    overflow: auto;
}

body > header {
    height: var(--header_height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    display: flex;
    height: calc(var(--header_height) - 10px);
    width: 95%;
    border-radius: 10px;
    margin: 10px auto 0 auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    background-color: var(--primaryColor);
    justify-content: space-between;
}

.header-title {
    font-family: var(--primaryFontFamily);
    font-size: max(38px, 5vh);;
    color: var(--tertiaryBackground);
    font-weight: bold;
    text-shadow: 4px 2px 0 var(--linkColor);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
}

.notifications-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.notification-badge {
    position: relative;
    top: -5px;
    right: 10px;
    padding: 3px 8px;
    border-radius: 50%;
    background: var(--buttonColor);
    color: azure;
    font-family: var(--primaryFontFamily);
}

.icon {
    font-size: 20pt;
    color: var(--borderColor);
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body > header > img {
    height: 70%;
    object-fit: contain;
}

body > main {
    /* height: calc(100% - var(--header_height) - var(--footer_height)); */
    background-color: var(--primaryBackground);
    display: flex;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    flex-direction: column;
}

body > main > * {
    margin: 0 auto;
}

body > main > section {
    height: 92%;
    width: min(95%, 650px);
    background-color: var(--tertiaryBackground);
    border:none;  
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
    /* border: 1pt solid var(--borderColor); */
    border-radius: 15px;
    overflow: hidden;
}

#post-list {
    list-style-type: none;
    height: calc(100% - 2*10px);
    margin: 0;
    display: block;
    padding: 10px 0;
    align-items: center;
    overflow: hidden auto;
}

/* TODO */
#post-list > li {
    height: max(150px, 20vh);
    padding: 5px 0;
}

.post-opened {
    height:  fit-content !important;
    padding: 0 !important;
}

/* .post-opened > * {
    height: 100%;
} */
/* END TODO */

.post-container {
    /* height: min(170px, 20vh); */
    height: 100%;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--linkColor);
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    width: 95%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
}

.post-opened .post-container {
    padding-top: 5px;
}

.likes-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 15px;
}

.like-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.username {
    color: var(--linkColor);
    font-size: max(15px, 2vh);
}

.likes {
    font-family: var(--primaryFontFamily);
    font-size: max(14px, 1.75vh);
}

.post-header {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 15px;
}

.cardelement-container {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    margin: auto;
}

.profile-pic {
    width: 50px;
    height: 50px;
    background-color: var(--buttonColor);
    border: 3px solid var(--tertiaryTextColor);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    font-size: 30pt;
    font-weight: bold;
    color: var(--primaryTextColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.card-title {
    margin: 0px;
}

.card-title > h1 {
    padding: 0;
    margin-top:5px;
    margin-bottom:5px;
    color: var(--linkColor);
    font-size: max(19px, 2.5vh);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.post-opened .card-title > h1 {
    width: 100%;
    white-space: normal;
    word-break: break-all;
}

.card-text {
    width: 95%;
    margin: auto;
    font-size: max(15px, 2vh);
}

.card-text > p {
    /* height: min(20px, 10vh); */
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.post-opened .card-text > p {
    height: fit-content;
    word-break: break-all;
    white-space: normal;
    overflow: visible;
}

.post-opened .tags-container {
    flex-wrap: wrap;
    overflow: visible;
    height: fit-content;
}

.tags-container {
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    /* height: min(30px, 5vh);  */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.tag-badge {
    padding: 0 8px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* height: min(30px, 5vh); */
    font-size: max(15px, 2vh);
}

.like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    font-size: 16pt;
    /* background-image: url('../../resources/icons/thumbs-up-regular.svg');
    background-size: 25px 25px; 
    background-repeat: no-repeat;
    background-position: 8px; */
}

.comment-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 20px;
    font-size: 16pt;
    /* background-image: url('../../resources/icons/reply-solid.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 8px; */
}


.button {
    width: fit-content;
    font-size: 14pt;
    font-weight: bold;
    color: var(--buttonTextColor);
    background-color: var(--tertiaryBackground);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px rgba(0,0,0, 0.3);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:active {
    transform: scale(0.92);
    box-shadow: 1px 1px var(--borderColor);
    background-color: var(--buttonColor);
    color: var(--tertiaryBackground);
}

.form-input {
    font-size: min(12pt, 4vh);
    width: 100%;
    color: var(--buttonTextColor);
    background-color: var(--tertiaryBackground);
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid var(--primaryBackground);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

:focus {
    outline: 2px solid var(--buttonColor);
}

.form-group {
    height: min(50px, 8vh);
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px;
}

.post-opened .post-preview {
    height: fit-content;
    gap: 10px;
}

.post-preview {
    /* height: min(200px, 20vh); */
    height: 100%;
    font-family: var(--primaryFontFamily);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-body {
    display: none;
}

.post-closed {
    display: none;
}

.post-opened > article {
    height: fit-content;
}

.post-opened > article > .post-body {
    height: fit-content;
    /* background-color: var(--secondaryBackground);
    border: 1px solid var(--linkColor); 
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);
    border-radius: 15px; */
    font-family: var(--primaryFontFamily);
    display: block;
}

.separator {
    height: 1px;
    border-top: 1px dashed var(--placeholderColor) ;
    width: 95%;
    margin: 15px auto 0 auto;
    box-sizing: border-box;
}

.attachments > h1 {
    height: 85%;
    transform: translateY(7%);
    padding: 10px 0;
    color: var(--secondaryTextColor);
    width: 95%;
    margin: auto;
    font-size: max(19px, 2.5vh);
}

/* .img-attachment {


}

.video-attachment {
    
}*/

.audio-attachment {
    width: 95%;
    margin: auto;
}

.other-attachment {
    width: fit-content;
    margin-left: 20px;
    padding: 5px;
    color: var(--tertiaryBackground);
    background-color: var(--secondaryColor);
    border-radius: 10px;
}

.other-attachment:hover {
    background-color: var(--primaryColor);
}

.comments > h1 {
    padding: 10px 0;
    font-size: max(19px, 2.5vh);
    color: var(--secondaryTextColor);    
    width: 95%;
    margin: auto;
}

.comments {
    margin-top: 20px;
}

.comment {
    background-color: var(--primaryBackground);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.comment .comment {
    box-shadow: none;
    
}

.comment emph {    
    font-weight: bold;
}

.deleted-comment {
    color: gray;
    font-style: italic;
}

.reply-button {
    cursor: pointer;
    color: var(--linkColor);
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delete-button {
    cursor: pointer;
    color: red;
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reply-form {
    display: none;
    margin-top: 10px;
}

.reply {
    margin-left: 20px;
}

ul.replies {
    width: 95%;
    margin: auto;
    padding: 0;
    list-style: none;
}

.expanded {
    display: block;
}

.card-body {
    border: 1px solid var(--debugColor);
}

body > header > h1 {
    color: var(--primaryTextColor);
    font-family: var(--primaryFontFamily);
    font-size: max(30px, 4vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

body > main > section > div > form > div > div > label {
    color: var(--secondaryTextColor);
}

body > footer {
    position: fixed;
    width: 100%;
    /*bottom: 0;*/
    justify-content: flex-start;
    overflow: scroll;
    height: var(--footer_height);
    background-color: var(--buttonColor);
}

#nav-bar {
    height: 85%;
    width: max(275px, 100%);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondaryBackground);
}

#nav-bar a {
    height: 100%;
    width: max(55px, calc(100vw / 5));
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primaryTextColor);
    font-family: var(--primaryFontFamily);
    font-weight: bold;
}

.selected-link {
    display: block;
    background-color: var(--buttonColor);
    bottom: 0;
    border-radius: 25px 25px 0 0;
}

@media only screen and (min-width: 700px) {
    body > main > section {
        width: min(95%, 1800px);
    }
    
}

