@import "palette.css";
@import "login.css";

:root {
    --header_height: max(50px, 5vh);
    --footer_height: max(53px, 7vh);
    --footer_img_width: max(32px, 4.2vh);
    --footer_img_height:  max(32px, 4.2vh);
}

.attachments * {
    width: 100%;
}

body {
    height: 100vh;
    min-height: 750px;
    min-width: 275px;
    background-color: var(--primaryBackground);
    margin: 0;
}

body > header {
    height: var(--header_height);
    display: flex;
    align-items: center;
    justify-content: center;
}

body > header > img {
    height: 70%;
    object-fit: contain;
}

body > main {
    /* height: calc(100% - var(--header_height) - var(--footer_height)); */
    background-color: var(--primaryBackground);
    display: flex;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    flex-direction: column;
}

body > main > * {
    margin: 0 auto;
}

body > main > section {
    height: 92%;
    width: min(95%, 650px);
    background-color: var(--tertiaryBackground);
    border: 1pt solid var(--borderColor);
    box-shadow: 0 2px 0 0 var(--disabledTextColor);
    border-radius: 15px;
    overflow: hidden;
}

#post_list {
    list-style-type: none;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: scroll;
}

#post_list > li {
    height: 20vh;
    display: block;
}

.post-container{
    height: 85%;
    background-color: #999999;
    width: 95%;
    border-radius: 15px;
    transform: translateY(7.5%);
    margin: auto;
}

.inline-container{
    width: 95%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 15px;
}

.tags-container{
    width: 95%;
    height: 30px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 15px;
}

.cardelement-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.profile-pic{
    background-color: var(--buttonColor);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin-left: 10px; */
}
.profile-pic > p{
    font-size: 30pt;
    font-weight: bold;
    color: var(--primaryTextColor);
    margin: auto;
    text-align: center;
}

.card-title{
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--linkColor);
    font-size: 15pt;
}
.card-title > h1{
    padding: 0;
    margin-top:5px;
    margin-bottom:5px;

}

.card-text{
     /*height: 70%;*/
    width: 95%;
    margin: auto;
    font-size: 12pt;
}

.tags{
    height: 100%;
    background-color: var(--secondaryColor);
    border-radius: 20px;
    display: block;
}

.tag-badge{
    text-align: center;
    vertical-align: middle;
    top:50%;
    margin: auto;
    height: 100%;
    font-size: 13pt;
}

.likes{
    font-family: var(--primaryFontFamily);
}

.like-button{
    width: 70px;
    font-size: 14pt;
    margin: 0 auto;
    color: var(--buttonTextColor);
    background-color: var(--primaryBackground);
    border-radius: 20px;
    border-color: transparent;
    border: 2px solid var(--buttonColor);
}

.post-preview {
    font-family: var(--primaryFontFamily);
    /*text-overflow: ellipsis;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 10px;
    width: 100%;
}

.post-opened {
    background-color: #999999;
    border-radius: 15px;
    font-family: var(--primaryFontFamily);
    display: none;
}

.comments {
    margin-top: 20px;
}
.comment {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.reply-button {
    cursor: pointer;
    color: #007bff;
}
.reply-form {
    display: none;
    margin-top: 10px;
}
.reply {
    margin-left: 20px;
}

ul.replies {
    list-style: none;
}
.expanded {
    display: block;
}

/* .post-preview > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
} */
  

/*.post-preview::after {
    position: absolute;
    bottom: 0;  
    height: 100%;
    width: 100%;
    content: "";
    font-family: var(--primaryFontFamily);
    /*background: linear-gradient(to top,
        rgba(255,255,255, 1) 0, 
        rgba(255,255,255, 0) 30%
        );*/
    /* pointer-events: none; 
}*/

.card-body{
    border: 1px solid var(--debugColor);

}

body > header > h1 {
    color: var(--primaryTextColor);
    font-family: var(--primaryFontFamily);
    font-size: max(30px, 4vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

body > main > section > div > form > div > div > label {
    color: var(--secondaryTextColor);
}

body > footer {
    position: fixed;
    width: 100%;
    /*bottom: 0;*/
    height: var(--footer_height);
    background-color: var(--selectionColor);
}

#nav_bar {
    height: 85%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondaryBackground);
}

#nav_bar a {
    height: 100%;
    width: calc(100vw / 5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primaryTextColor);
    font-family: var(--primaryFontFamily);
    font-weight: bold;
}

.selected_link {
    display: block;
    background-color: var(--selectionColor);
    bottom: 0;
    border-radius: 25% 25% 0 0;
}

