@import "./palette.css";

:root {
    --header_height: 10%;
    --footer_height: 7%;
    --footer_img_height:  60%;
}

header {
    height: var(--header_height);
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 100%;
}

body {
    height: 100vh;
    background-color: var(--primaryBackground);
    margin: 0;
    padding: 0;
}

form {
    height: 82%;
    display: block;
    align-items: bottom;
    justify-content: center;
}

form > div {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    width: 80%;
    display: block;
}

h1 {
    margin-top:18px;
    margin-bottom:36px;
    /*margin-top:5%;
    margin-bottom:10%;*/
    margin-left:10%;
    margin-right:0;
    padding: 0;
    height: 10%;
    color: var(--primaryTextColor); 
    font-family: var(--primaryFontFamily); 
    font-size: 30pt;
}

div > label, input, a {
    margin: auto;
    padding:0;
    font-family: var(--primaryFontFamily);
    font-size: 15pt;
    font-weight: bold;
}

label > input{
    display: block;
}

input {
    margin: 0;
    width: 100%;
    height: 50px;
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5px;
    box-sizing: border-box;
    background-color: var(--primaryBackground);
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px var(--borderColor);;
    border-color: var(--borderColor);
}

input[type="submit"]{
    width: 80%;
    font-size: 15pt;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    color: var(--buttonTextColor);
    background-color: var(--buttonColor);
    box-shadow: 1px 1px var(--borderColor);;
    border-color: "transparent";
    border-width: 0;
}

input[type="submit"]:active {
    transform: scale(0.92);
    transition: all center 100ms linear;
}

label {
    color: var(--secondaryTextColor);  
}

a {
    color: var(--linkColor);
    font-size: 12pt;
    text-decoration: none;
}

.flexContainer {
    background-color: var(--primaryBackground);
    display: flex;
    align-items: center;
    height: calc(100% - var(--header_height) - var(--footer_height));
}

#loginSection {
    background-color: var(--tertiaryBackground);  
    border: 1pt solid var(--borderColor);
    box-shadow: 3px 3px var(--borderColor);
    border-radius: 15px;
    width: 80%;
    height: 80%;
    margin: auto;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer_height);
    background-color: var(--secondaryBackground);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer a {
    display: block;
    margin-right: 5%;
    height: var(--footer_img_height);
}

footer img {
    display: block;
    height: 100%;
    /* margin-right: 5%; */
}

@media only screen and (min-width: 768px) {

}
