body > main > section > div > form > div textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    max-height: 200px; 
    overflow: auto;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    padding: 8px;
    background-color: var(--primaryBackground);
    border-radius: 15px;
    border:none;
    box-shadow: 2px 2px 0 rgba(0,0,0, 0.3);
}

.upload-area {
    border: 2px dashed var(--placeholderColor);
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}


#fileInput > #file-upload-button{
    width: max(150px, 20vh);
    font-size: max(15px, 2vh);
    margin: 0 auto;
    font-weight: bold;
    color: var(--buttonTextColor);
    background-color: var(--buttonColor);
    box-shadow: 1px 1px var(--borderColor);
    border-color: transparent;
    border-width: 0;
}
  
.suggestions-tags, .suggestions-collabs {
    height: fit-content;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    padding-top: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.selected-suggestion {
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    gap: 10px;
}

.sugg-text {
    width: fit-content;
}

.delete-suggestion {
    cursor: pointer;
    display: inline;
    width: fit-content;
    font-size: max(19px, 2.5vh);
    color: var(--deleteObjectColor);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.delete-suggestion:hover {
    background-color: var(--deleteObjectColor);
    color: var(--tertiaryBackground);
}

.suggestion {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.suggestion:hover {
    background-color: var(--selectionColor);
}

.selected-list {
  padding: 10px 0;
  list-style: none;
}