body > *{
    font-family: var(--primaryFontFamily);
}

.notifications-list {
  margin: auto;
  height: inherit;
  padding: 20px;
  align-items: center;
  overflow-y: scroll;
}

.notification {
  height: min(125px, 15vh);
  background-color: var(--tertiaryColor);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.timestamp{

}

.notification-header {
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.notification-icon {
  color: var(--buttonColor);
  font-size: 24px;
  margin-right: 10px;
}

.notificator {
    font-size: min(12pt, 4vh);
    font-weight: bold;
    color: var(--linkColor);
    border-radius: 10px;
    padding: 5px 3px;
    transition: background-color 0.3s;
}

.notificator:hover {
    background-color: var(--secondaryColor);
}

.notificator:focus {
    border-color: none;
}

.notification-content {
  margin-left: 34px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.notification-content a {
  align-self: center;
}

.post-link {
  padding: 5px;
  color: var(--linkColor);
  border-radius: 10px;
  text-decoration: none;
}

.post-link:hover {
    background-color: var(--primaryColor);
    color: var(--tertiaryBackground);
}

ul {
  list-style: none;
}