@import "./home.css";

main * {
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
    padding: 3vh 0;
    display: block;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}

.search-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    border-radius: 5px;
}

.form-input {
    font-size: min(12pt,4vh);
    height: max(60px, 8vh);
    font-size: max(23px, 3vh);
    margin: 0 auto;
    padding: 0 2vw;
    color: var(--buttonTextColor);
    background-color: var(--tertiaryBackground);
    border-radius: 10px;
    border: 1px solid var(--primaryBackground);
    box-shadow: 0 0 3px rgba(0,0,0, 0.5);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-input::placeholder{
    color: var(--placeholderColor);
    font-size: 13pt;
    opacity: 1; /* Firefox */

}

.search-input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.suggestions {
    margin-top: 10px;
    /* height: min(150px,30vh); */
    /* max-height: 50%; */
    overflow-y: auto;
    padding: 10px;
}

.suggestion {
    cursor: pointer;
    display: block;
    font-family: var(--primaryFontFamily);
    padding: 5px;
    border-radius: 10px;
}

.suggestion:hover {
    background-color: var(--secondaryColor);
}

