@import "./home.css";


/* .upload-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
  } */
  
.container {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
}

.form-input {
    font-size: min(12pt,4vh);
    width: max(220px, 90vw);
    margin: 0 auto;
    height: min(50px, 15vh);
    color: var(--buttonTextColor);
    background-color: var(--tertiaryBackground);
    border-radius: 10px;
    border: 1px solid var(--primaryBackground);
    box-shadow: 0 0 3px rgba(0,0,0, 0.5);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.form-input::placeholder{
    color: var(--placeholderColor);
    font-size: 13pt;
    opacity: 1; /* Firefox */

}

.search-input {
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.suggestions {
    margin-top: 10px;
    width: 90%;
    /* height: min(450px,70vh); */
    overflow-y: auto;
    padding: 10px;
}

.suggestion {
    cursor: pointer;
    font-family: var(--primaryFontFamily);
    padding: 5px;
    border-radius: 10px;
}

.suggestion:hover {
    background-color: var(--secondaryColor);
}

