:root{
    --primaryBackground: #C2C2C2;
    --secondaryBackground: #D6D6D6;
    --tertiaryBackground: #EBEBEB;
    --primaryColor: #5D5AC9;
    --secondaryColor: #A4A2E2;
    --buttonColor: #06B273;
    --secondaryButtonColor: #068959;
    --buttonTextColor: #0D0D0D;
    --borderColor: #1D1D1D;
    --primaryTextColor: #0F0F0F;
    --secondaryTextColor: #292929;
    --tertiaryTextColor: #2E2A65;
    --disabledTextColor: #474747;
    --placeholderColor: #A3A3A3;
    --linkColor: #322E9D;
    --selectionColor: #07C57F;
    --debugColor: #ff0000;
    --deleteObjectColor: #EA2634;
    --primaryFontFamily: "Trebuchet MS";
}

::selection {
    color: #0F0F0F;
    background: #07C57F;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--primaryBackground);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    cursor: grab;
    background: var(--secondaryColor);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primaryColor);
  }

